html {
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #1C1B1A;
  background-color: #FFFCF0;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
}

a {
  color: #2b5d66;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #1d4f60;
}

h1, h2, h3, h4, h5, h6, h7 {
    color: #264653;
    margin-top: 37px;
}

p, ul, ol, dl, dt, dd {
    margin-top: 0;
    margin-bottom: 1em;
}

ul#posts {
    list-style-type: none;
    padding-left: 0;
}

ul#posts li {
    margin-bottom: 5px;
    padding: 5px;
}

ul#posts li a {
    font-weight: bold;
}

ul#posts li span.date {
  color: #777;
  margin-right: 5px;
}


dl {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 20px; 
}

dt {
  display: flex;
  align-items: center;
  gap: 10px;
}

dt span {
  font-weight: bold;
}

dt img {
  width: 50px; 
  height: auto; 
  border-radius: 5px;
}

dd {
  display: flex;
  align-items: center; 
  gap: 10px;
}

dt + dd {
  margin-top: -10px;
  font-style: italic; 
}


#nav {
    width: 145px;
    position: absolute;
    text-align: right;
    line-height: 1em;
    padding-top: 9px;
}
#nav li {
    list-style-type: none;
}
#nav ul li {
  margin-bottom: 10px; 
}

#content {
    position: relative;
    margin-left: 200px;
    max-width: 600px;
    margin-top: 0;
    padding-top: 0;
}

#content h1 {
  margin-top: 0;
  padding-top: 0;
}

div.footnotes {
    margin-top:97px;
}

span#date {
    font-style: italic;
    margin-top: -17px;
    display: block;
}

#copy {
    padding: 33px 33px;
    color: #343434
}

#family-photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto; 
  
}


.logo {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  transition: transform 0.1s ease;
  filter: grayscale(100%);
}

.logo:hover {
    transform: scale(1.2) rotate(10deg);
}

section.logos a:hover {
    text-decoration: none;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #282726;
    color: #F2F0E5;
  }

  a {
    color: #4db8ff;
  }

  a:hover {
    color: #66ccff;
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6, h7 {
    color: #a9a9a9; 
  }


  ul#posts li a, ul#posts li span.date {
    color: #F2F0E5;
  }

  .logo {
      filter: invert(100%) grayscale(100%);
  }

  #nav, #copy {
    color: #c7c7c7;
  }

  dt, dd {
    color: #c7c7c7;
  }
}


@media screen and (max-width: 768px) {
  body {
      padding: 10px;
  }

  #nav {
    width: 100%;
    position: static;
    text-align: center;
    padding-top: 0px;
  }

  #nav ul {
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
  }

  #nav li {
    display: inline; 
    margin-right: 10px;
  }

  #content {
    margin-left: 0;
    margin-top: 20px;
    max-width: none;
  }

  #content h1 {
    font-size: 1.5em;
  }
  
  .logo {
    width: 15px; 
    height: 15px;
  }

  h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ul#posts {
    padding: 0; 
    list-style-type: none;
  }

  ul#posts li {
    background-color: transparent;
    margin-bottom: 15px;
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
  }

  ul#posts li a {
      color: #2a9d8f;
    font-weight: normal;
    font-size: 18px;
  }

  ul#posts li span.date {
    display: block;
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

