html {
}

#content {
    position: relative;
    margin-left: 200px;
    max-width: 600px;
}

#nav {
    width: 145px;
    position: absolute;
    text-align: right;
    line-height: 1em;
}
#nav li {
    list-style-type: none;
}

#copy {
    padding: 33px 33px;
    color: #343434
}
