{% extends "base.html" %}


{% block title %}Notes{% endblock %}

{% block content %}
<h1>About</h1>

<p>I have spent the last 15+ years working at the intersection of healthcare and data. My roles have included product manager, software engineer, researcher, and management consultant. I'm fascinated by complex systems, and enjoy spending my time discovering simplicity within them.</p>

<p>I previously worked as a management consultant at Boston Consulting Group, focused on improving healthcare by advising on strategy and operations of health insurers and health systems.</p>

<p>Prior to that, I worked at a big data genomics and immunology <a href="https://www.hammerlab.org/">lab</a>, where I helped to launch and run a clinical trial for a personalized genomic cancer vaccine. At another lab, I built a signal processing system to power research into spinal implants which cured paraplegia. I've worked at, consulted on growth and product for, and founded tech and healthcare startups.</p>

<p>My most recent degree is an MBA from Wharton, where I was selected to participate in the <a href="https://hcmg.wharton.upenn.edu/history/">Health Care Management program</a>. My undergraduate degree is in Mathematics, from Carleton College.</p>

<p>I am lucky to be married to an incredibly talented artist, Kim, and you <a href="http://www.kimzeluck.com">can see some of her work here</a>.</p>

{% endblock %}



