{% extends "base.html" %}


{% block title %}About{% endblock %}

{% block content %}
<h1>What I'm about, and what I do</h1>

<img src="/images/about/family-central-park.png" alt="Family Photo" id="family-photo">
<p>I am a builder and executive, and have spent the last 15 years working at the intersection of technology, healthcare, data. My roles have included founder, product leader, software engineer, researcher, and management consultant. I have taken products from 0 to 1, developed automation from 0 to $100M+, and built & managed teams from 0 to 40+. My goal is to work with great people to build, learn, and teach.</p>

<p>I built my first deep neural network from scratch in 2010, and have been using machine learning and AI in both research (drug development) and production work (workflow automation, document understanding) since then.</p>

<section class="company-logos">
  <a href="https://datavant.com" target="_blank">
    <img src="/images/about/datavant.svg" alt="Datavant" class="company-logo">
  </a>
  <a href="https://www.bcg.com" target="_blank">
    <img src="/images/about/bcg.png" alt="Boston Consulting Group" class="company-logo">
  </a>
  <a href="https://fabrichealth.com" target="_blank">
    <img src="/images/about/fabric.png" alt="Fabric" class="company-logo">
  </a>
  <a href="https://www.mountsinai.org" target="_blank">
    <img src="/images/about/mssm.png" alt="Mount Sinai School of Medicine" class="company-logo">
  </a>
</section>

<p>I am fascinated by complex systems, and enjoy spending my time discovering simplicity within them. I believe that speed and quality are not at odds with one another.</p>

<p>Most recently, I worked as the Head of Product for Datavant's Provider vertical. We developed the most comprehensive proprietary network for clinical data exchange in the USA, with our technology in 30%+ of providers. Beyond that, we developed new products reaching tens of thousands of new providers within a year, automated workflows with generative AI, and more. Before that, I was Head of Product and first employee at Fabric health, where I built and sold our first product, launching into one of the largest emergency rooms in the world.</p>

<p>I previously worked as a management consultant at The Boston Consulting Group, advising executives on strategy and operations at health insurers, public and private health systems, and biopharma.</p>

<p>Prior to that, I worked at a big data genomics and immunology <a href="https://www.hammerlab.org/">lab</a>, where I helped to develop the technology for and launch a clinical trial for a personalized genomic cancer vaccine. Before that, at another lab, I built a signal processing system to power research into spinal implants which cured paraplegia. I've worked at, consulted on growth and product for, and founded tech and healthcare startups.</p>

<p>My most recent degree is an MBA from Wharton, where I was selected to participate in the <a href="https://hcmg.wharton.upenn.edu/history/">Health Care Management program</a>. My undergraduate degree is in Mathematics, from Carleton College.</p>

<p>I am lucky to be married to an incredibly talented artist, Kim. You <a href="http://www.kimzeluck.com">can see some of her work here</a>. We live in New York City with our two children.</p>

<section class="logos">
  <a href="https://www.linkedin.com/in/isaachodes" target="_blank">
    <img src="/images/about/In-Blue-40.png" alt="LinkedIn" class="logo">
  </a>
  <a href="https://www.x.com/ihodes" target="_blank">
    <img src="/images/about/x-logo-black.png" alt="X" class="logo">
  </a>
  <a href="https://www.github.com/ihodes" target="_blank">
    <img src="/images/about/github-mark.png" alt="X" class="logo">
  </a>
</section>



{% endblock %}



