{% extends "base.html" %}


{% block title %}Notes{% endblock %}

{% block content %}
<h1>What I'm about, and what I do</h1>

<img src="/images/about/family-central-park.png" alt="Family Photo" id="family-photo">
<p>I have spent the last 15+ years working at the intersection of healthcare and data. My roles have included product manager, software engineer, researcher, and management consultant.</p>

<p>I am fascinated by complex systems, and enjoy spending my time discovering simplicity within them. I'm deeply curious, to a fault, and appreciate speed, quality, and other things which don't always go well together.</p>

<p>Today, I work as the Head of Product for Datavant's Provider vertical. We're developing the most comprehensive proprietary network for clinical data exchange in the USA. In nearly everything I've done in healthcare, data access, security, and completeness has slowed down or stopped important work to make patients' and providers' lives better. I'd like to make that a problem of the past.</p>

<p>I previously worked as a management consultant at The Boston Consulting Group, focused on improving healthcare by advising on strategy and operations of health insurers and public and private health systems, as well as regulatory work in biopharma.</p>

<p>Prior to that, I worked at a big data genomics and immunology <a href="https://www.hammerlab.org/">lab</a>, where I helped to develop the technology for and launch a clinical trial for a personalized genomic cancer vaccine. Before that, at another lab, I built a signal processing system to power research into spinal implants which cured paraplegia. I've worked at, consulted on growth and product for, and founded tech and healthcare startups.</p>

<p>My most recent degree is an MBA from Wharton, where I was selected to participate in the <a href="https://hcmg.wharton.upenn.edu/history/">Health Care Management program</a>. My undergraduate degree is in Mathematics, from Carleton College.</p>

<p>I am lucky to be married to an incredibly talented artist, Kim. You <a href="http://www.kimzeluck.com">can see some of her work here</a>. We live in New York City with our son.</p>

<section class="logos">
  <a href="https://www.linkedin.com/in/isaachodes" target="_blank">
    <img src="/images/about/In-Blue-40.png" alt="LinkedIn" class="logo">
  </a>
  <a href="https://www.x.com/ihodes" target="_blank">
    <img src="/images/about/x-logo-black.png" alt="X" class="logo">
  </a>
  <a href="https://www.github.com/ihodes" target="_blank">
    <img src="/images/about/github-mark.png" alt="X" class="logo">
  </a>
</section>



{% endblock %}



