<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title required %}{% endblock %}</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index"/>

    <link rel="icon" href="/images/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/images/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png" sizes="180x180">
    
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/pygmentize-solarized-light.css" />
    <script>
    </script>
    <script id="MathJax-script" async src="/js/mathjax.js"></script>
    {% endblock %}
  </head>
  <body>
    <div id="nav">
      <p>By <strong>Isaac&nbsp;Hodes</strong></p>
      
      <ul>q
	<li><a href="/" title="writing">writing</a></li>
	<li><a href="/shelf" title="shelf">shelf</a></li>
	<li><a href="/about" title="about">about</a></li>
      </ul>
    </div>

    <section id="content">
      {% block content required %}{% endblock %}
    </section>

    <p id="copy">Copyright &copy; 2010–2024 Isaac Hodes. Source found <a href="https://github.com/ihodes/ihodes.github.io">here</a>.</p>
  </body>
</html>
