{% extends "base.html" %}


{% block title %}Notes{% endblock %}

{% block content %}
<h1>A collection of good things</h1>

<p>Here are some books, essays, music, and other artifacts. This isn't meant to be exhaustive or a list of "the best", but I only put items on here that I have really enjoyed.</p>


<dl>
  <dt>
    <img src="/images/shelf/for-whom-the-bell-tolls.jpg" alt="Book Cover">
    <span>For Whom the Bell Tolls</span>
  </dt>
  <dd>Ernest Hemingway</dd>

  <dt>
    <img src="/images/shelf/the-mom-test.jpg" alt="Book Cover">
    <span>The Mom Test</span>
  </dt>
  <dd>Rob Fitzpatrick</dd>

  <dt>
    <img src="/images/shelf/picaresque.jpg" alt="Album Cover">
    <span>Picaresque</span>
  </dt>
  <dd>The Decemberists</dd>

  <dt>
    <img src="/images/shelf/philosophy-and-the-real-world.jpg" alt="Book Cover">
    <span>Philosophy and the Real World</span>
  </dt>
  <dd>Bryan Magee</dd>

  <dt>
    <img src="/images/shelf/in-rainbows-album.jpg" alt="Album Cover">
    <span>In Rainbows</span>
  </dt>
  <dd>Radiohead</dd>
  
  <dt>
    <img src="/images/shelf/7-powers.jpg" alt="Book Cover">
    <span>7 Powers</span>
  </dt>
  <dd>Hamilton Helmer</dd>

  <dt>
    <img src="/images/shelf/goldberg-variations.jpg" alt="Album Cover">
    <span>Goldberg Variations (Glenn Gould)</span>
  </dt>
  <dd>Bach</dd>

  <dt>
    <img src="/images/shelf/meditations.jpg" alt="Book Cover">
    <span>Meditations</span>
  </dt>
  <dd>Marcus Aurelius</dd>

  <dt>
    <img src="/images/shelf/east-of-eden.jpg" alt="Book Cover">
    <span>East of Eden</span>
  </dt>
  <dd>John Steinbeck</dd>

  <dt>
    <img src="/images/shelf/understanding-variation.jpg" alt="Book Cover">
    <span>Understanding Variation</span>
  </dt>
  <dd>Donald J. Wheeler</dd>

  <dt>
    <img src="/images/shelf/enders-game.jpg" alt="Book Cover">
    <span>Ender's Game</span>
  </dt>
  <dd>Orson Scott Card</dd>

  <dt>
    <img src="/images/shelf/the-goal.jpg" alt="Book Cover">
    <span>The Goal</span>
  </dt>
  <dd>Eliyahu Goldratt</dd>

  <dt>
    <img src="/images/shelf/kid-a-album.png" alt="Album Cover">
    <span>Kid A</span>
  </dt>
  <dd>Radiohead</dd>


  <dt>
    <img src="/images/shelf/good-strategy-bad-strategy.jpg" alt="Book Cover">
    <span>Good Strategy / Bad Strategy</span>
  </dt>
  <dd>Richard Rumelt</dd>


  <dt>
    <img src="/images/shelf/nietzsche.png" alt="Book Cover">
    <span>On Truth and Lies in a Nonmoral Sense</span>
  </dt>
  <dd>Friedrich Nietzsche</dd>

  <dt>
    <img src="/images/shelf/stories-of-your-life-and-others.jpg" alt="Book Cover">
    <span>Stories of Your Life and Others</span>
  </dt>
  <dd>Ted Chiang</dd>


  <dt>
    <img src="/images/shelf/zen-and-the-art-of-motorcycle-maintenance.jpg" alt="Book Cover">
    <span>Zen and the Art of Motorcycle Maintenance</span>
  </dt>
  <dd>Robert Pirsig</dd>

  <dt>
    <img src="/images/shelf/three-body-problem.jpg" alt="Book Cover">
    <span>The Three-Body Problem</span>
  </dt>
  <dd>Liu Cixin</dd>
</dl>


<h3>Other people's places online</h3>
<p>A non-exhaustive list of people who inspire and impress me, and their places online.</p>
<ul>
  <li><a href="https://twitter.com/danwwang?lang=en">Dan Wang</a> - annual letters are incredible</li>
  <li><a href="https://twitter.com/matt_levine">Matt Levine</a> - perhaps, one of the best newsletters of all time</li>
  <li><a href="https://twitter.com/lynaghk?lang=en">Kevin Lynagh</a> - builds for the sake of it</li>
  <li><a href="https://twitter.com/patio11?lang=en">Patrick McKenzie</a> - writing about finance</li>
  <li><a href="https://twitter.com/ejames_c">Cedric Chin</a> - writing about how to thoughtfully do business</li>
  <li><a href="https://twitter.com/craigmod?lang=en">Craig Mod</a> - writing & walking, thoughtful observer</li>
  <li><a href="https://twitter.com/jungofthewon?lang=en">Jungwon Byun</a> - actively building tools to improve research and thought</li>
  <li><a href="https://twitter.com/andymatuschak">Andy Matuschak</a> - researching how to learn better</li>
  <li><a href="https://twitter.com/thesephist">Linus Lee</a> - working on tools to help write to think</li>
  <li><a href="https://twitter.com/worrydream">Bret Victor</a> - the one and only</li>
  <li><a href="https://twitter.com/cjhandmer">Casey Handmer</a> - physicist, building things to fix the world</li>
  <li><a href="https://twitter.com/geoffreylitt">Geoffrey Litt</a> - improving computing</li>
  <li><a href="https://twitter.com/michael_nielsen">Michael Nielsen</a> - physicist, thinking about learning and research acceleration</li>
  <li><a href="https://wattenberger.com/">Amelia Wattenberger</a> - design, computing, representation</li>
  <li><a href="https://edyong.me/">Ed Yong</a> - science journalist, which undersells him greatly</li>
  <li><a href="https://kanjun.me/">Kanjun Qiu</a> - studies people, institutions, and cultures</li>
  <li><a href="https://ralphammer.com/">Ralph Ammer</a> - illustrator, essayist, creativity and philosophy</li>
  <li><a href="https://patrickcollison.com/">Patrick Collison</a> - cofounder Stripe, thoughtful technologist, helping others build the future</li>
  <li><a href="https://jasoncrawford.org/">Jason Crawford</a> - establishing a new philosophy of progress</li>
  <li><a href="https://nat.org/">Nat Friedman</a> - cofounder GitHub, thoughtful technologist and writer</li>
  <li><a href="https://milan.cvitkovic.net/about/">Milan Cvitkovic</a> - FRO innovator, now working on brain science</li>
  <li><a href="https://gregorygundersen.com/blog/">Greg Gundersen</a> - writing to learn math online, PhD making the complex profitable</li>
  <li><a href="https://www.benkuhn.net/">Ben Kuhn</a> - thoughtful engineer and writer about learning and understanding</li>
  <li><a href="https://lethain.com/">Will Larson</a> - thoughtful technology manager and writer on topics of organizations and management</li>
  <li><a href="https://www.maximzaslavsky.com/">Maxim Zaslavsky</a> - PhD at the intersection of computers and immunology</li>
  <li><a href="https://www.sebastianclaici.com/">Sebastian Claici</a> - ML researcher and Renaissance man</li>
</ul>


<h3>Great shelves on the internet</h3>
<p>A list of others' lists.</p>
<ul>
  <li><a href="https://www.geoffreylitt.com/inspirations">Geoffrey Litt's</a></li>
  <li><a href="https://www.kaseyklimes.com/shelf">Kasey Klimes'</a></li>
  <li><a href="https://patrickcollison.com/bookshelf">Patrick Collison's</a></li>
  <li><a href="https://www.benkuhn.net/blogroll/">Ben Kuhn's</a></li>
</ul>

{% endblock %}



